.title {
    font-weight: 700;
    font-size: 1.8rem;
    margin: 1rem auto 2rem;
}

.create-inputs {
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    border-radius: 1rem;
    padding: 1rem;
    background-color: #fff;
}

.input-wrapper {
    width: 95%;
    margin: 0 auto 2rem;
    height: 3.5rem;
    border-radius: 0.7rem;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    position: relative;
}

.input {
    font-size: 1.4rem;
    padding: 1rem 1rem 1rem 3rem;
    width: 100%;
    height: 100%;
    display: block;
    background-color: transparent;
}

.input-icon {
    position: absolute;
    top: 0;
    left: 0.5rem;
    bottom: 0;
    margin: auto 0;
    width: 1.5rem;
    height: 1.5rem;
}

.input-video-wrapper {
    width: 95%;
    margin: 0 auto 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 3.5rem;
    border-radius: 0.7rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: all ease-in-out 150ms;
    position: relative;
}

.is-there {
    position: absolute;
    top: 0;
    left: 0.5rem;
    bottom: 0;
    margin: auto 0;
    color: #1EB35B;
}

.input-video-wrapper:hover {
    background-color: #F3F4F6;
}

.input-file {
    display: none;
}

.file-input-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.select-box {
    position: relative;
    width: 95%;
    margin: 0 auto 2rem;
    height: 3.5rem;
    border-radius: 0.7rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.7);

}

.header-select-box {
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-box-caption {

}

.select-items {
    transition: all ease-in-out 150ms;
    z-index: 20;
    padding: 1rem;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0.5rem auto 0;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
}

.select-item {
    position: relative;
    width: 100%;
    border-radius: 0.7rem;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out 15ms;
}

.multi-select-item-icon {
    cursor: pointer;
    transition: all ease-in-out 150ms;
}

.multi-select-item-icon:hover {
    scale: 1.1;
    color: #000;
}

.select-item:hover {
    background-color: #1EB35B;
    color: #fff;
}

.multi-select-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.choose-course-wrapper {
    position: relative;
    width: 95%;
    margin: 0 auto 2rem;
    height: 3.5rem;
    border-radius: 0.7rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    font-size: 1.4rem;
}

.header-choose-course {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.choose-course-caption {
    cursor: pointer;

}

.choose-course-button {
    background-color: transparent;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;

    cursor: pointer;
    transition: all ease-in-out 150ms;
}

.choose-course-button:hover {
    background-color: #1EB35B;
    color: #fff;
}

.plus-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    width: 100%;
}

.button {
    width: 10rem;
    height: 3rem;
    border-radius: 0.7rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: all ease-in-out 150ms;
    font-size: 1.2rem;
    background-color: #1EB35B;
    color: #fff;
}

.button:hover {
    background-color: #0b7835;
}