.parent {
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.transactions-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 70rem;
    margin: 0 auto;
    font-family: inherit;
    font-size: 1.4rem;
}


.transactions-wrapper {
    max-width: 85rem;
}

.transaction-header {
    font-weight: 600;
}

.transaction-header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.transaction-item {
    padding: 1rem;
    border-radius: 1rem;
}

.transaction-item:nth-child(even) {
    background-color: #F3F4F6;
}

.transaction-item-content {
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
}

.transaction-item-content:last-child {
    margin: auto;
    width: 7rem;
    font-size: 1rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: rgba(30, 179, 91, 0.15);
    color: #1EB35B;
}

.transaction-item-title-wrapper {
    display: none;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}

.transaction-item-title {

}

@media screen and (min-width: 600px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .transaction-item-content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
        margin-bottom: 0;
    }

    .transaction-item-title-wrapper {
        display: flex;
    }

    .transaction-header {
        display: none;
    }

    .transaction-item-content {
        width: fit-content !important;
        justify-content: start;
        margin: 0 !important;
    }

    .transaction-item {
        display: flex !important;
        gap: 1rem;
    }
}